.content {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1 1 0px;
}

#game {
    border: 5px solid black;
    width: 480;
    height: 640;
    color: lightblue;
    background-image: url("img/sky.jpg");
    flex: inherit;
}

#hero {
    background-size: contain;
    width: 34;
    height: 48;
}

#hero.left {
    background-image: url("img/zombie-left.png");
}

#hero.right {
    background-image: url("img/zombie-right.png");
}

#score {
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
}

.platform {
    background-image: url("img/platform.png");
    background-size: contain;
    background-repeat: repeat-x;
    width: 80;
    height: 20;
    border-radius: 3px;
}

.center {
    margin: auto;
}

.start-button {
    background-color: lightblue;
    border: 1px solid black;
    width: 100px;
    color: blue;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    height: 20px;
    flex: inherit;
}